*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    border-bottom: 3px solid #000000;
    margin: 0 100px;
}

.contenedor_principal{
    width: 400px;
    height: 300px;
    border: 3px solid #000000;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px ;
    align-items: center;
}

.pesos_ch{
    margin-top: 20px;
    text-align: center;
}

.input_pesos{
    width: 200px;
    padding: 10px;
}

.Selec_moneda{
    width: 200px;
    padding: 10px;
}

.btn_buscar {
    width: 200px;
    padding: 10px;
    background-color: #db7ec2;
    font-size: x-large;
}

.tipos_moneda{
    display: flex;
    flex-direction: column;
    gap: 10px ;
    align-items: center;
}

/* NUEVO: ESTILOS DEL GRÁFICO */
.contenedor_grafico{
    width: 700px;
    max-width: 90%;
    margin-top: 25px;
    padding: 20px;
    border: 2px solid #000000;
    background-color: white;
}

#graficoMoneda{
    width: 100% !important;
    height: 350px !important;
}